<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="jameica.budget" version="0.0.1" class="de.augustin.jameica.budget.Plugin">

  <description>Plugin</description>
  <url>url</url>
  <homepage>hm</homepage>
  <license>GPL</license>

  <!-- Define dependencies to jameica or other plugins -->
  <requires jameica="1.10+">
  </requires>

  <!-- Define regex wildcards for the classes and jars the classfinder should load -->
  <classfinder>
  <!--  <include>jameica\.example\.jar</include>-->
    <include>.*\.class</include>
  </classfinder>

  <!-- The content of the following tag is displayed in the menu bar. //-->
  <menu>

    <item name="Budget Plugin">
          <item name="New Table" shortcut="ALT+P" action="de.augustin.jameica.budget.gui.action.XMLAufrufCreateUnitView" />
    
    </item>
  </menu>

  <!-- the content of this tag will appear within the navigation tree on the left hand //-->
  <navigation>
    <item name="Budget Plugin" icon-close="folder.png" icon-open="folder-open.png">
    <item name="Vehicle Management" icon-close="text-x-generic.png" action="de.augustin.jameica.budget.gui.action.XMLAufrufVehicle" />
    <item name="Meters Management" icon-close="text-x-generic.png" action="de.augustin.jameica.budget.gui.action.XMLAufrufMeters" />
    
    </item>
  </navigation>
  <services>
     <service name="pluginxmldatabaseservice" depends="" autostart="true" class="de.augustin.jameica.budget.rmi.DBServiceInterface" />
  </services>
</plugin>

